<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI9EdCelQjS4SnH839fcRm685fbbb81WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>787644977621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moazsalem.snake</string>
	<key>PROJECT_ID</key>
	<string>snake-flutttergame</string>
	<key>STORAGE_BUCKET</key>
	<string>snake-flutttergame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787644977621:ios:d65f004ca9462f8b64ad5c</string>
</dict>
</plist>